<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-webpack</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="output.js"></script>
    <style>
        .v-enter-active, .v-leave-active {
            transition: opacity 1s;
        }

        .v-enter, .v-leave-to {
            opacity: 0;
        }

    </style>
</head>
<body>
<p>It works!</p>
<div id="app">
    {{ message }}
    <input v-model="message"/>
    <button v-on:click="handleClick">Click me</button>
    <button v-on:click="show=!show">toggle</button>
    <transition>
        <p v-if="show">Hello,vue</p>
    </transition>
    <p>{{count}} 回クリック</p>
    <button @click="increment">カウントアップ</button>
    <p v-bind:class="{child: isChild,'is-active':isActive}"> Text</p>
    <p v-bind:style="{color: textColor,backgroundColor:bgColor}"> Text</p>
    <p>svg</p>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <circle cx="100" cy="75" :r="radius" fill="lightpink"></circle>

    </svg>
    <input type="range" min="0" max="100" v-model="radius">
    <p>list rendering</p>
    <ul>
        <li v-for="(item,index) in list" :key="item.id">
            ID.{{item.id}} {{item.name}} HP.{{item.hp}}
            <button @click="doRemove(index)">Delete</button>

        </li>

    </ul>
    <div>
        名前 <input v-model:name="name">
        <button @click="doAdd">add</button>

    </div>
</div>

</body>
</html>